{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /uploads/* {
		reverse_proxy backend:8000
	}

	handle /health {
		reverse_proxy backend:8000
	}

}

api.{$APP_DOMAIN} {
	encode zstd gzip

	reverse_proxy backend:8000
}
